body {
	padding-top: 50px;
	font: 12px 'Open Sans', sans-serif;
	background: #FAFAFA;
}

.content {
	background: #FFFFFF;
}

.add-task-link a {
	color: #5BB4DE;
}

a {
	cursor: pointer;
	color: #666666;
}

.add-task-link a:hover {
	color: #5BB4DE;
}

.cancel-link {
	padding-left: 8px;
}

input {
	border-radius: 0 !important;
	box-shadow: none !important;
}

.checkbox {
	height: 22px;
	width: 22px;
	border: 0.5px solid #c9c9c9;
	border-radius: 15px;
}

.btn {
	background: #5BB4DE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 100;
	border-radius: 2px;
}

.btn:hover,
.btn:focus {
	color: #FFFFFF;
	background: #278fbe;
}

.completed {
	text-decoration: line-through;
	color: #C9C9C9;
}

.completed-checkbox {

}

.checkbox-icon {
	width: 22px;
	text-align: center;
	line-height: 150%;
	color: #C9C9C9;
}

.task-item {
	width: 100%;
}

.task-item td {
	padding-top: 5px;
	padding-bottom: 5px;
}

td.checkbox-container {
	width: 25px;
}

.checkbox {
	margin-right: 10px;
}

.checkbox:hover {
	background-color: #F0F0F0;
	cursor: pointer;
}

.task-content {
	font-size: 14px;
}

td.task-line {
	border-bottom: 1px solid #F0F0F0;
}

.task-line:hover {
	cursor: text;
}

.task-item:hover .comment-icon {
	color: #C9C9C9;
}

.comment-icon {
	color: #FFFFFF;
	padding-left: 8px;
}

.task-item:hover .comment-icon:hover {
	color: #666666;
	cursor: pointer;
}

.task-date {
	float: right;
	font-size: 11px;
}

.task-menu {
	width: 15px;
}

.delete-icon {
	color: #FFFFFF;
	padding-left: 8px;
}

.task-item:hover .delete-icon {
	color: #C9C9C9;
}

.task-item:hover .delete-icon:hover {
	color: #666666;
	cursor: pointer;
}

.add-task-form {
	padding-top: 15px;
}

.add-task-link {
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.add-icon {
	padding-right: 13px;
	padding-left: 3px;
}

td.left-table-col {
	width: 75%;
	padding-top: 5px;
}

td.right-table-col {
	width: 25%;
	padding-top: 5px;
}

.date-input input {
	border-left: 1px #FFF solid !important;
	font-size: 12px;
}

.task-edit {
	margin-top: 5px;
}
